$white: #fff;
$lightgray:#f3f3f3;
$lightgray2:#e5e5e5;
$gray:#757576;
$gray2:#8e8e8f;
$darkgray:#141218;
$darkgray2:#2b292f;
$red:#f93a50;
$darkred:#d1213c;

$fontbold:'Harmonia Sans Pro Cyr';
$fontsemibold:'Harmonia Sans Pro Cyr Semi Bd';
$fontserif:'Ogg';

$singlepadding: 7%;
$standardpadding:7% 0;
$sidepadding:6%;

$standardparagraph: 480px;