@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../webfonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
        url('../webfonts/HarmoniaSansProCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr Semi Bd';
    src: url('../webfonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
        url('../webfonts/HarmoniaSansProCyr-SemiBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ogg';
    src: url('../webfonts/Ogg-Roman.woff2') format('woff2'),
        url('../webfonts/Ogg-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

